[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
mingus = {git = "https://github.com/edudobay/python-mingus.git", ref = "python3"}


[dev-packages]



[requires]

